extends layout

block content
    h1= title
    p Welcome to #{title} 
    ul 
        li User: #{user}
        li Project: #{project}
    table
        tr
            th User
            th Project   
            th Date         
            th Start
            th End       
            th Duration     
        each row in rows
            tr
                td= row.user   
                td= row.project.name 
                td= moment(row.start).format('ll')
                td= moment(row.start).format("LT")
                td= moment(row.end).format("LT")
                td= moment.duration(row.end-row.start).humanize()